body {
  background-image: url("https://fondosmil.com/fondo/15995.jpg");
  background-size: 100%;
}

img {
  margin-left: 35%;
  margin-right: auto;
  width: 400px;
  height: 200px;
}
#cuadro {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  background-color: white;
  height: 70px;
  width: 600px;
  border-top: 10px inset #9e04af;
  border-image: -webkit-linear-gradient(
      left,
      rgb(170, 0, 255),
      rgb(0, 140, 152)
    )
    1 10;
  box-shadow: 8px 7px 3px 4px #060d21;
}

#cuadro .botones {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-right: 10px;
}

.btn-copia,
.recargar,
i {
  background-color: transparent;
  color: #9e04af;
  font-size: 30px;
  border: none;
}

.resultado {
  font-family: "Francois One", sans-serif;
  font-size: 50px;
  color: #9e04af;
  margin: 0 auto;
}

#container {
  margin: 0 auto;
  margin-top: 20px;
  background-color: white;
  height: 250px;
  width: 600px;
  border-top: 15px inset #9e04af;
  border-image: -webkit-linear-gradient(
      left,
      rgb(170, 0, 255),
      rgb(0, 140, 152)
    )
    1 10;
  box-shadow: 8px 7px 3px 4px #060d21;
}

#container .items {
  display: flex;
  justify-content: space-around;
}

#container .items h3 {
  margin-left: 30px;
  font-size: 18px;
  font-family: "Francois One", sans-serif;
  color: rgb(0, 72, 165);
}

#container .items .caract h3 {
  margin-left: 0;
}

#container .items p {
  font-family: "Francois One", sans-serif;
  font-size: 15px;
  color: rgb(80, 2, 90);
  align-items: center;
}

#btn {
  height: 30px;
  width: 150px;
  margin-left: 230px;
  font-family: "Francois One", sans-serif;
}

@media (max-width: 480px) {
  body {
    background-size: 100vh;
    overflow-x: hidden;
  }

  img {
    width: 250px;
    height: 120px;
    margin-left: 15%;
    margin-top: 10px;
  }
  .resultado {
    font-size: 30px;
  }
  #cuadro {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
  }
  #container {
    height: 530px;
    width: 300px;
  }
  #container .items {
    display: flex;
    flex-direction: column;
    margin-left: 30%;
    line-height: 10px;
  }
  #container .items h3 {
    margin-left: 4px;
  }
  #btn {
    margin-left: 30%;
    margin-top: 5px;
  }
}

@media (min-width: 481px) and (max-width: 960px) {
  body {
    background-size: 100vh;
  }
  img {
    margin-left: 20%;
    margin-top: 15%;
  }
  #cuadro,
  #container {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 1920px){
  img{
    margin-left: 40%;
    margin-top: 5%;
  }
}



